<!DOCTYPE>
    <html lang='ja'>
     <head>
       <meta charset='utf-8'>
       <title>movie</title>
       <link rel="stylesheet" href="index.css">
     </head>
 
     <body>
        <div class="wrapper">
            <div id="container">
                <h1 class="text-white">Movie_Life</h1>
                <h2 class="text-white">一味違う映画ライフを</h2>
                <div class="row">
                
                    <%= link_to '新規登録', new_user_path, class: 'btn' %>
                    <%= link_to 'ログイン', login_path,class: 'btn btn2' %>
                </div>
            </div>
        </div>
     </body>
    
    </html>
