<html>
    
　 <head>
　     <script src="jquery.min.js" type="text/javascript"></script>
　     <link href='theater.css' rel='stylesheet'>
　 </head>

  <body>
    
    <header>
        <nav>
            <ul class="clearfix">
              <li><%= link_to 'ホーム', homes_index_path %></li>
              <li><%= link_to '作品一覧', homes_film_path %></li>
              <li>映画館</li>
              <li><%= link_to 'ログアウト',logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %></li>
              <li><%= link_to 'お問い合わせ', homes_ask_path %></li>
          </ul>
        </nav>
    </header>
    
    <main class="clearfix">
        
    </main>
    <!-- main_end -->
    
    <p>
      <img src="" alt="写真" align="left">
      画像を左に配置して、
      <br>
      右側にテキストを回り込ませます。
      <br clear="left">
      回り込みを解除しました。
    </p>


    <!-- footer_begin -->
    <footer>
      <ul>
        <li><a href="movie.html">ホーム</a></li>
        <li><a href ="#">作品情報</a></li>
        <li><a href ="#">店舗紹介</a></li>
        <li><a href ="#">ログイン</a></li>
        <li><a href="#">動画投稿</a></li>
        <li><a href ="#">お問い合わせ</a></li>
      </ul>
    
    <small>&copy; 2018 CSS Cafe</small>
    </footer>
    
    
  </body>
</html>