.slide-dots{
  text-align: center;
  li{
    display: inline-block;
    margin: 0 15px;
    button{
      position: relative;
      text-indent: -9999px;
      &:before{
        content: '☆';
        font-size: 20px;
        text-indent: 0px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &.slick-active{
      button:before{
        content: '★';
      }
    }
  }
}