.form-control {
  height: 25px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("bg-top.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.users-new-container {
    padding-top: 125px;
}
 .form-group {
      margin-bottom: 20px;
 }
 
 .form-control{
     font-size: 15px;
     border:0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 2px solid #3498db;
     padding: 14px 10px;
     width: 200px;
     outline:  none;
     color: white;
     border-radius: 24px;
     transition: 0.25s;
 }
 
 .form-control:focus{
     width: 280px;
     border-color: #2ecc71;
 }
 
 .sub{
     border:0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 2px solid #2ecc71;
     padding: 14px 40px;
     outline:  none;
     color: white;
     border-radius: 24px;
     transition: 0.25s;
 }
 
 .sub:hover{
     background-color: #2ecc71;
 }
 
